/* Post navigation. */
.post-navigation {
	.nav-links {
		padding: 0 0 3em 0;
	}
	.nav-links div:nth-child(2) {
		margin-top: 3em;
	}
	.nav-next,
	.nav-previous {
		min-height: 160px;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-color: $color__background-post-navigation;
	}
	a {
		display: block;
		width: 100%;
		min-height: 160px;
		padding: 40px 20px;
		text-decoration: none;
		background: $color__background-overlay;
	}
	a:hover,
	a:focus {
		background: $color__background-overlay-hover;
	}
	.meta-nav,
	.post-title {
		display: block;
	}
	.meta-nav {
		margin-bottom: 0.5em;
		letter-spacing: 4px;
		font-size: 14px;
	}
	.post-title {
		font-size: 1.5em;
		font-weight: bold;
	}
	a:hover .meta-nav,
	a:focus .meta-nav,
	a:hover .post-title,
	a:focus .post-title {
		color: $color__link-hover;
	}
	a::after {
		display: none !important;
	}
}

/* Posts navigation. */
.posts-navigation {
	.nav-links {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2.5em;
	}
	.nav-previous a,
	.nav-next a {
		text-decoration: none;
	}
	.nav-previous a::before {
		position: relative;
		top: 1px;
		content: '\f430';
		font-family: Genericons;
	}
	.nav-next a::after {
		position: relative;
		top: 1px;
		content: '\f429';
		font-family: Genericons;
	}
}

/* Portfolio pagination. */
.portfolio-pagination {
	display: flex;
	padding: 2.5rem 0;

	a {
		display: table;
		width: 50%;
		text-decoration: none;
	}
	a:nth-child(2) {
		text-align: right;
	}
	a:first-child::before {
		position: relative;
		top: 1px;
		content: '\f430';
		font-family: Genericons;
	}
	a:nth-child(2)::after {
		position: relative;
		top: 1px;
		content: '\f429';
		font-family: Genericons;
	}
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Social
--------------------------------------------------------------*/
@import "social";