.format-aside .special-content,
.format-quote .special-content,
.format-image .post-thumbnail {
	margin-bottom: 1.25em;
}

/* Aside post format. */
.format-aside {
	.special-content {
		padding: 2em 40px;
	}

	.special-content {
		border: 1px solid transparent;
		padding: 0 40px;
		line-height: 2;
		@include font-size(1);
		border-radius: 2px;
		box-shadow: inset 0px 0px 25px 5px rgba(18,18,18,0.5);
		background: linear-gradient(#999999 5%, $color__background-aside-post-format 0);
		background-size: 100% 32px;

		p {
			margin: 32px 0;
		}
	}
}

/* Quote post format. */
.format-quote {
	.special-content {
		background: $color__background-quote-post-format;
		blockquote {
			margin: 0;
			padding: 40px 30px;
			border: 0;
			color: white;
			font-size: 28px;
			font-weight: bold;
			font-style: normal;
			font-family: $font__headings;
			background: transparent;
			line-height: 1.5;
			text-align: center;
			text-shadow: 0px 0px 5px $color__text-main;
			cite {
				font-style: normal;
			}
			a,
			a:visited {
				color: white;
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

/* Image post format. */
.format-image {
	.entry-title {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY( calc( -50% + 25px) );
		margin: 0;
		opacity: 0;
		color: white;
		text-align: center;
	}
	.post-thumbnail-link {
		display: block;
		position: relative;
	}
	.post-thumbnail-link:hover .entry-title {
		opacity: 1;
		transform: translateY( -50% );
	}
}

/* Link post format. */
.format-link {
	.entry-title a::before {
		position: relative;
		margin-right: 5px;
		top: 9px;
		content: '\f107';
		font-size: 120%;
		font-family: Genericons;
		speak: none;
	}
}
.single-format-link {
	.single-title a {
		text-decoration: none;
	}
	.single-title a::before {
		position: relative;
		margin-right: 5px;
		top: 10px;
		content: '\f107';
		font-size: 120%;
		font-family: Genericons;
		speak: none;
	}
}